.labelLeft {
    -fx-text-fill: #ffffff;
    /*-fx-border-color: gray;*/
    /*-fx-border-width: 2px 2px 2px 0px;*/
    /*-fx-border-radius: 0px 5px 5px 0px;*/
    /*-fx-background-radius: 0px 10px 10px 0px;*/
    /*-fx-background-color: linear-gradient(to right, #FFFFFF22 80%, #FFFFFF11);*/
    -fx-background-color: linear-gradient(to right, #2288ff55, #0000ff22 70%, #00ffff00);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 0px;
}

.labelRight {
    -fx-text-fill: white;
    /*-fx-border-color: gray;*/
    /*-fx-border-width: 2px 0px 2px 2px;*/
    /*-fx-border-radius: 5px 0px 0px 5px;*/
    /*-fx-background-radius: 5px 0px 0px 5px;*/
    -fx-background-color: linear-gradient(to left, #2288ff55, #0000ff22 70%, #00ffff00);
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 0px;
}

.labelSimple {
    -fx-text-fill: white;
}

.text-field, .text-area{
    /*-fx-background-color: linear-gradient(to top, #FFFFFF55, #FFFFFF44 80%, #FFFFFF55);*/
    /*-fx-background-radius: 5px 0px 0px 5px;*/
    -fx-background-color: #ffffff11;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.button {
    /*-fx-background-radius: 7px 7px 7px 7px;*/
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-background-color: #ffffff22;
    /*-fx-background-color: #1177FF;*/
}

.button:hover {
    -fx-background-color: #ffffff55;
}

.bottomGrid Line {
    -fx-stroke: red;
    -fx-padding: 1px;
}

.borderBox {
    -fx-border-color: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
