.anchor-pane{
    -fx-background-color: red;
    -fx-text-fill: white;
}

.labelLeft {
    -fx-text-fill: #ffffff;
    /*-fx-border-color: gray;*/
    /*-fx-border-width: 2px 2px 2px 0px;*/
    /*-fx-border-radius: 0px 5px 5px 0px;*/
    /*-fx-background-radius: 0px 10px 10px 0px;*/
    /*-fx-background-color: linear-gradient(to right, #FFFFFF22 80%, #FFFFFF11);*/
    -fx-background-color: linear-gradient(to right, #ffffff22, #ffffff11 80%, #ffffff00);
}

.labelRight {
    -fx-text-fill: white;
    /*-fx-border-color: gray;*/
    /*-fx-border-width: 2px 0px 2px 2px;*/
    /*-fx-border-radius: 5px 0px 0px 5px;*/
    /*-fx-background-radius: 5px 0px 0px 5px;*/
    -fx-background-color: linear-gradient(to left, #ffffff22, #ffffff11 80%, #ffffff00);
}

.text-field {
    /*-fx-background-color: linear-gradient(to top, #FFFFFF55, #FFFFFF44 80%, #FFFFFF55);*/
    /*-fx-background-radius: 5px 0px 0px 5px;*/
    -fx-background-color: #ffffff33;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.text-area .scroll-pane .content{
    -fx-background-color: #ffffff33;
}

.button {
    /*-fx-background-radius: 7px 7px 7px 7px;*/
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-background-color: #ffffff11;
    /*-fx-background-color: #1177FF;*/
}